mss
Pillow
numpy
pvporcupine
pyaudio
SoundFile
google-assistant-sdk
pathlib2
google-assistant-sdk[samples]
google-assistant-grpc
google-auth-oauthlib[tool]
youtube-search-python
git+https://github.com/baxterisme/pytube
#pytube
playsound
icecream
tenacity
python-crontab
PyGObject
sounddevice
